{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="mt-5">Contact Submission Successful</h1>
                <img src="{% static 'images/pexels-andrea-piacquadio-3779432.jpg' %}" alt="About Us" class="img-fluid mt-4 mb-4">
                <h2>Thank you for contacting us!</h2>
            </div>
        </div>
    </div>
{% endblock %}
