{% extends 'base/base.html' %}

{% block content %}
    {{ request.user }}
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <form action="{% url 'login_user' %}" method="post" class="login-form">
                    {{ form.as_p }}
                    <div>
                        <button class="btn btn-primary">Login</button>
                        <a href="{% url 'register_user' %}" class="btn btn-secondary">Register</a>
                    </div>
                    {% csrf_token %}
                </form>

            </div>
            <div class="col-md-6 d-none d-md-block">
                <img src="../../media/images/pexels-photo-841131.jpeg" alt="Side Image" class="img-fluid">
            </div>
        </div>
    </div>
{% endblock %}
